.scrollTop {
    position: fixed;
    bottom: 15%;
    right: 3%;
    padding: $pd-2 - 3;
    border: none;
    transition: all .6s;
    border-radius: $bd-radius-0 - 2;
    background-color: $bg-blue;
    opacity: 0;
    i {
        color: $color-white;
        font-size: $fs-1;
        opacity: 0.6;
        transition: all .6s;
    }
    &:hover {
        background-color: $bg-dark-blue;
        transform: translateY(-15px);
    }
}