@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    font-family: 'Work Sans', sans-serif;
    font-size: 12px;
    overflow-x: hidden;
}

/* HEADER */

/* top */
header .header__top {
    padding: 24px 16px;
    font-size: 1.1rem;
    position: relative;
    background-color: #FF4F81;
    margin: auto 0;
}

header .header__top a {
    text-decoration: none;
    color: #fff;
}

.header__top .left {
    float: left;
    position: absolute;
    top: 12px;
    left: 18px;
    margin-top: 2px;
    color: #fff;
}

.header__top .left ul {
    list-style: none;
}

.header__top .left li {
    display: inline-block;
    margin-right: 20px;
}

.header__top .left li>a {
    transition: all 0.5s;
}

.header__top .left li>a:hover {
    color: #A5A18F;
}

.header__top .right {
    float: right;
    position: absolute;
    top: 30%;
    right: 5%;
}

.header__top .right a {
    padding: 8px 10px;
    background-color: #333333;
    transition: all 0.5s;
}

.header__top .right a:hover {
    background-color: #FF4F81;
    border: 1px solid #fff;
}

@media screen and (min-width: 350px) and (max-width: 414px) {
    header .header__top {
        padding: 35px 16px;
    }

    .header__top .left li {
        margin-right: 24px;
    }

    .header__top .right {
        top: 40px;
    }
}

@media screen and (max-width: 576px) {
    header .header__top {
        padding: 35px 16px;
    }

    .header__top .left li {
        margin-right: 24px;
    }

    header .header__bot {
        padding: 0;
    }

    .header__top .right {
        right: 5%;
        top: 60%;
    }

    .header__top .right a {
        padding: 6px 8px;
        background-color: #333333;
        transition: all 0.5s;
    }
}

/* end top */

/* bot */

header .header__bot {
    /* padding: 20px 0; */
    background-color: #FFFFFF;
}


.header__bot .navbar .collapse .navbar-nav li {
    margin-right: 30px;
    font-size: 1.3rem;
    font-weight: 500;
}

.header__bot .navbar .collapse .navbar-nav li>a {
    color: #282828;
}

.header__bot .navbar .navbar-brand span.fa-book {
    font-size: 2rem;
}

.header__bot .navbar .navbar-brand span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #282828;
}

.header__bot .dropdown-menu.show {
    margin-top: 3px;
    margin-right: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.header__bot .dropdown-menu.show a.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #FF4F81;
}



.header__bot .dropdown-menu.show a.dropdown-item{
    color: #fff;
}

.header__bot .navbar .navbar-brand label {
    display: block;
    text-align: center;
    color: #FF4F81;
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 800;
    letter-spacing:3px;
}

.header__bot .navbar .collapse .navbar-nav .nav-item {
    position: relative;
}

.header__bot .navbar .collapse .navbar-nav .nav-item.active a {
    color: #FF4F81;
    letter-spacing: 1px;
}

.header__bot .navbar .collapse .navbar-nav .nav-item.active::before {
    content: '';
    width: 60px;
    height: 2px;
    background-color: #FF4F81;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.header__bot .navbar-collapse.collapse.show .nav-item.active::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #FF4F81;
    position: absolute;
    bottom: -4px;
    left: 14px;
}



.header__bot .navbar .collapse .navbar-nav .nav-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #FF4F81;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: all 0.5s;
    display: inline-block;
}

.header__bot .navbar-collapse.collapse.show .nav-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #FF4F81;
    position: absolute;
    bottom: -4px;
    left: 14px;
    transition: all 0.5s;
    display: inline-block;
}

.header__bot .navbar .collapse .navbar-nav .nav-item:hover:after {
    width: 100%;
}

.header__bot .navbar-collapse.collapse.show .nav-item:hover:after {
    width: 100%;
}

.header__bot .navbar .collapse .navbar-nav .nav-item:hover a.nav-link {
    color: #FF4F81;
}

@media screen and (max-width: 991px) {
    .header__bot .navbar .collapse .navbar-nav li {
        margin-right: 0;
    }
    .header__bot .navbar-collapse.collapse.show {
        text-align: center;
        background-color: #eee;
    }
    .header__bot .dropdown-menu.show a.dropdown-item {
        color: #333333;
    }
    .header__bot .navbar-collapse.collapse.show .nav-item.active::before {
        content: '';
        width: 90%;
        height: 2px;
        background-color: #FF4F81;
        position: absolute;
        bottom: -4px;
        left: 5%;
    }
    .header__bot .navbar-collapse.collapse.show .nav-item::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #FF4F81;
        position: absolute;
        bottom: -4px;
        left: 5%;
        transition: all 0.5s;
        display: inline-block;
    }
    .header__bot .navbar .collapse .navbar-nav .nav-item:hover:after {
        width: 90%;
    }
    .header__bot .dropdown-menu.show {
        margin-top: 3px;
        background-color: #E0E1E2;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        position: relative;
    }
    .header__bot .navbar-collapse.collapse.show .nav-item.dropdown.show::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #FF4F81;
        position: absolute;
        top: 34px;
        left: 5%;
        transition: all 0.5s;
        display: inline-block;
    }
    .header__bot .navbar-collapse.collapse.show .nav-item.dropdown.show:hover:after {
        width:90%;
    }
}

@media screen and (min-width:992px) {
    .header__bot .navbar-collapse.collapse.show .nav-item.active::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #FF4F81;
        position: absolute;
        bottom: -4px;
        left: 0;
    }
    .header__bot .navbar-collapse.collapse.show .nav-item::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: #FF4F81;
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: all 0.5s;
        display: inline-block;
    }
}

/* end bot */

/* END HEADER */


/* CAROUSEL */
.carousel {
    padding-left: 0;
    padding-right: 0;
}


.carousel .carousel__item {
    height: 524px;
}


.carousel .carousel__item .card {
    height: 100%;
    position: relative;
}

.carousel .carousel__item .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel .carousel__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.carousel__item .card .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    padding: 40px 0;
    z-index: 9;
}

.card .card__content h1 {
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.card .card__content h1>span {
    font-weight: 800;
}

.card .card__content p {
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 2.2rem;
    width: 65%;
    margin: 0 auto;
    padding: 15px 0 30px 0;
}

.card__content .card__btn {
    width: 120px;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    transition: all 0.5s;
}

.card__content .card__btn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100px;
    font-size: 1.2rem;
    font-weight: 500;
}

.card__content .card__btn i {
    color: #fff;
    font-size: 0.7rem;
}

.card__content .card__btn:hover {
    background-color: #FF4F81;
    border: none;
}


.carousel .slick-dots {
    position: absolute;
    bottom: 10%;
    left: 0;
}

.carousel .slick-dots button::before {
    color: #fff;
    font-size: 0.8rem;
}

.carousel li.slick-active button:before {
    color: #fff;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.slick-prev.slick-arrow{
    z-index: 3;
}

.carousel .slick-next {
    position: absolute;
    right: 80px;
    top: 68%;
}

.carousel .slick-prev {
    position: absolute;
    left: 80px;
    top: 68%;
}

.carousel .slick-arrow:before {
    font-size: 40px;
    line-height: 0;
}

@media screen and (min-width: 360px) and (max-width: 413px){
    .card .card__content {
        width: 90%;
    }

    .card .card__content h1 {
        font-size: 2.1rem;
        font-weight: 300;
    }
    
    .card .card__content h1>span {
        font-weight: 800;
    }

    .carousel .carousel__item .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel .slick-next {
        position: absolute;
        right: 85px;
        top: 75%;
    }
    
    .carousel .slick-prev {
        position: absolute;
        left: 70px;
        top: 75%;
    }
}

@media screen and (min-width: 414px) and (max-width: 499px){
    .card .card__content {
        width: 90%;
    }

    .card .card__content h1 {
        font-size: 2.1rem;
        font-weight: 300;
    }
    
    .card .card__content h1>span {
        font-weight: 800;
    }

    .carousel .carousel__item .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel .slick-next {
        position: absolute;
        right: 90px;
        top: 73%;
    }
    
    .carousel .slick-prev {
        position: absolute;
        left: 70px;
        top: 73%;
    }
}

@media screen and (min-width: 500px) and (max-width: 555px){
    .card .card__content {
        width: 90%;
    }

    .card .card__content h1 {
        font-size: 2.7rem;
        font-weight: 300;
    }
    
    .card .card__content h1>span {
        font-weight: 800;
    }

    .carousel .carousel__item .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel .slick-next {
        position: absolute;
        right: 90px;
        top: 71%;
    }
    
    .carousel .slick-prev {
        position: absolute;
        left: 70px;
        top: 71%;
    }
}

@media screen and (min-width: 556px) and (max-width: 991px){
    .card .card__content {
        width: 90%;
    }

    .card .card__content h1 {
        font-size: 2.7rem;
        font-weight: 300;
    }
    
    .card .card__content h1>span {
        font-weight: 800;
    }

    .carousel .carousel__item .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel .slick-next {
        position: absolute;
        right: 90px;
        top: 69%;
    }
    
    .carousel .slick-prev {
        position: absolute;
        left: 70px;
        top: 69%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    .card .card__content {
        width: 90%;
    }

    .card .card__content h1 {
        font-size: 2.7rem;
        font-weight: 300;
    }
    
    .card .card__content h1>span {
        font-weight: 800;
    }

    .carousel .carousel__item .card img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .carousel .slick-next {
        position: absolute;
        right: 90px;
        top: 69%;
    }
    
    .carousel .slick-prev {
        position: absolute;
        left: 70px;
        top: 69%;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

/* END CAROUSEL */

/* EDUCATION  */

.education {
    padding: 80px 0;
}

.education .education__title h1{
    font-size: 3.333rem;
    text-transform: uppercase;
    letter-spacing: 0.5;
    color: #FF4F81;
    font-weight: 900;
    margin-bottom: 16px;
}

.education .education__title h4 {
    font-size: 1.4rem;
    color: #282828;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}

.education .education__title h4::before {
    content: '';
    height: 2px;
    width: 75px;
    background-color: #333333;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.education .education__content {
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.education .education__content p {
    font-size: 1.25rem;
    color: #999;
    letter-spacing: 1.5px;
    line-height: 1.8em;
}

.education__list .row .item {
    border: 1px solid #333333;
    padding: 25px 35px;
}

.row .item span {
    font-size: 2.6rem;
    margin-bottom: 18px;
}

.row .item h2 {
    color: #FF4F81;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 18px;
}

.row .item h4 {
    font-size: 1.3rem;
    font-weight: 800;
}

.row .item p {
    font-size: 1.25rem;
    color: #999;
    margin: 12px 0;
}

@media screen and (max-width: 768px) {
    .education .education__title h1 {
        font-size: 2.917rem;
    }
    .education .education__title {
        width: 90%;
        margin: 0 auto;
    }
    .education .education__content {
        width: 96%;
    }
}

@media screen and (max-width: 640px){
    .stats .stats__title h1 {
        font-size: 2.917rem;
    }
}

/* 640px */
/* END EDUCATION  */


/* STATS */

.stats {
    padding: 20px 0;
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stats .stats__title {
    padding: 40px 0;
}

.stats .stats__title h1 {
    color: #FF4F81;
    font-size: 3.333rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.stats .stats__title h3 {
    font-size: 1.417rem;
    color: #fff;
    letter-spacing: 3px;
    position: relative;
}

.stats .stats__title h3::before {
    content: '';
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -26px;
    left: 50%;
    background-color: #333333;
    transform: translateX(-50%);
}

.stats .stats__content {
    padding: 60px 0;
}

.row .item {
    text-align: center;
}

.row .item h2 {
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin: 20px 0;
}

.stats__content .row .item span {
    color: #fff;
}

.row .item span.count {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.row .item span.fas {
    font-size: 3rem;
}

@media screen and (max-width: 640px){
    .stats .stats__title h1 {
        font-size: 2.917rem;
    }

    .row .item span.fas {
        font-size: 2rem;
    }

    .row .item h2 {
        margin: 10px 0;
        font-size: 1.4rem;
    }

    .row .item span.count {
        font-size: 3rem;
    }
}



/* END STATS */

/* SERVICES  */

.services
{
    margin-top: 100px;
}

.services .services__content {
    padding-top: 80px;
}

.services .services__title h1 {
    color: #FF4F81;
    font-size: 3.333rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.services .services__title h3 {
    font-size: 1.4rem;
    color: #282828;
    letter-spacing: 4px;
    position: relative;
    font-weight: 700;
}

.services .services__title h3::before {
    content: '';
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -26px;
    left: 50%;
    background-color: #333333;
    transform: translateX(-50%);
}

.services__content .col-lg-4 {
    margin-bottom: 30px;
}

.services__content .col-lg-4 .services__item {
    box-shadow: 0 0 6px #aaa;
    background-color: #fff;
    padding: 25px 35px 10px 35px;
    text-align: center;
    transition: all 0.5s;
}

.services__content .services__item i {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #FF4F81;
}

.services__content .services__item h2 {
    font-size: 1.667rem;
    color: #212121;
    font-weight: 500;
    margin-bottom: 20px;
}

.services__content .services__item p {
    font-size: 1.167rem;
    letter-spacing: .7px;
    color: rgb(128, 123, 123);
}

.services__content .col-lg-4:hover .services__item {
    background-color: #12ccc3;
}

@media screen and (max-width: 640px){
    .services .services__title h1 {
        font-size: 2.917rem;
    }
}

/* END SERVICES  */

/* FEEDBACK */

.feedback {
    margin-top: 60px;
    padding: 30px 0 70px 0;
    background-image: url('../img/banner3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


.feedback .feedback__title {
    padding: 30px 0;
}

.feedback .feedback__title h1 {
    color: #FF4F81;
    font-size: 3.333rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.feedback .feedback__title h3 {
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 4px;
    position: relative;
    font-weight: 700;
}

.feedback .feedback__title h3::before {
    content: '';
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -26px;
    left: 50%;
    background-color: #333333;
    transform: translateX(-50%);
}

.feedback .feedback__content {
    padding: 10px 0 80px 0;
    background-color: rgba(0, 0, 0, 0.47);
    margin-top: 60px;
    box-shadow: 0 0 5px #aaa;
}

.feedback__content .row {
    margin-right: 20px;
    padding-bottom: 30px;
}

.feedback__content .row .col-lg-4 {
    padding-right: 0;
}

.feedback__content .feedback__item {
    padding: 20px 0 65px 20px;
    position: relative;
}

.feedback__item .feedback__caption {
    background-color: rgba(0, 0, 0, 0.47);
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.feedback__item .feedback__caption p {
    font-size: 1.2rem;
    letter-spacing: .5px;
    margin-bottom: 0;
}

.feedback__item::before {
    content: '';
    position: absolute;
    bottom: 31%;
    left: 27%;
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    width: 0;
    height: 0;
}

.feedback__item .feedback__thump {
    position: absolute;
    bottom: -8%;
    left: 15%;
    transform: translateX(15%);
    width: 55%;
}

.feedback__thump .feedback_image {
    float: left;
    width: 30%;
}

.feedback__thump .feedback__info {
    float: left;
    width: 70%;
}

.feedback__thump .feedback_image img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.feedback__thump .feedback__info h5 {
    font-size: 1.6rem;
    color: #fff;
}

.feedback__thump .feedback__info p {
    font-size: 1.2rem;
    color: #FF4F81;
}

.feedback .slick-dots li.slick-active button:before {
    color: #FF4F81;
    font-size: 1.1rem;
}

.feedback .slick-dots li button:before {
    font-size: 1.1rem;
    color: #FF4F81;
}

@media screen and (min-width: 350px) and (max-width:413px) {
    .feedback__content .feedback__item {
        padding: 20px 0 65px 20px;
    }

    .feedback__item .feedback__thump {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(15%);
        width: 100%;
    }

    .feedback__thump .feedback_image {
        float: left;
        width: 40%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 60%;
    }
    .feedback__thump .feedback__info h5 {
        font-size: 1rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 0.9rem;
    }

    .feedback__item::before {
        content: '';
        position: absolute;
        bottom: 18.5%;
        left: 20%;
        border-top: 9px solid rgba(0, 0, 0, 0.47);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 414px) and (max-width:449px) {
    .feedback__content .feedback__item {
        padding: 20px 0 65px 20px;
    }

    .feedback__item .feedback__thump {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(15%);
        width: 100%;
    }

    .feedback__thump .feedback_image {
        float: left;
        width: 40%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 60%;
    }
    .feedback__thump .feedback__info h5 {
        font-size: 1rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 0.9rem;
    }

    .feedback__item::before {
        content: '';
        position: absolute;
        bottom: 21%;
        left: 20%;
        border-top: 9px solid rgba(0, 0, 0, 0.47);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 500px) and (max-width:519px) {
    .feedback__content .feedback__item {
        padding: 20px 0 65px 20px;
    }

    .feedback__item .feedback__thump {
        position: absolute;
        bottom: -2%;
        left: 0;
        transform: translateX(15%);
        width: 100%;
    }

    .feedback__thump .feedback_image {
        float: left;
        width: 25%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 60%;
    }
    .feedback__thump .feedback__info h5 {
        font-size: 1.2rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 1rem;
    }

    .feedback__item::before {
        content: '';
        position: absolute;
        bottom: 23%;
        left: 20%;
        border-top: 9px solid rgba(0, 0, 0, 0.47);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 519px) and (max-width:767px) {
    .feedback__content .feedback__item {
        padding: 20px 0 65px 20px;
    }

    .feedback__item .feedback__thump {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(15%);
        width: 100%;
    }

    .feedback__thump .feedback_image {
        float: left;
        width: 25%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 60%;
    }
    .feedback__thump .feedback__info h5 {
        font-size: 1.2rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 1rem;
    }

    .feedback__item::before {
        content: '';
        position: absolute;
        bottom: 25.5%;
        left: 20%;
        border-top: 9px solid rgba(0, 0, 0, 0.47);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 768px) and (max-width:991px) {
    .feedback__thump .feedback__info h5 {
        font-size: 1.3rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 1.1rem;
    }
    .feedback__item .feedback__thump {
        width: 100%;
        left: 7%;
        bottom: -5%;
    }
    .feedback__thump .feedback_image {
        float: left;
        width: 20%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 40%;
    }
}


@media screen and (min-width: 992px){
    .feedback__content .feedback__item {
        padding: 20px 0 65px 20px;
    }

    .feedback__item .feedback__thump {
        position: absolute;
        bottom: -5%;
        left: 0;
        transform: translateX(15%);
        width: 100%;
    }

    .feedback__thump .feedback_image {
        float: left;
        width: 15%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 40%;
    }
    .feedback__thump .feedback__info h5 {
        font-size: 1.3rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 1.1rem;
    }

    .feedback__item::before {
        content: '';
        position: absolute;
        top: 59%;
        left: 18%;
        border-top: 9px solid rgba(0, 0, 0, 0.47);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        width: 0;
        height: 0;
    }
}

@media screen and (min-width: 1200px){
    .feedback__content .feedback__item {
        padding: 20px 0 65px 20px;
    }

    .feedback__item .feedback__thump {
        position: absolute;
        bottom: -5%;
        left: 5%;
        transform: translateX(15%);
        width: 60%;
    }

    .feedback__thump .feedback_image {
        float: left;
        width: 30%;
    }
    
    .feedback__thump .feedback__info {
        float: left;
        width: 60%;
    }
    .feedback__thump .feedback__info h5 {
        font-size: 1.4rem;
    }
    .feedback__thump .feedback__info p {
        font-size: 1.2rem;
    }

    .feedback__item::before {
        content: '';
        position: absolute;
        top: 64%;
        left: 18%;
        border-top: 9px solid rgba(0, 0, 0, 0.47);
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        width: 0;
        height: 0;
    }
}

/* END FEEDBACK */


/* NEWS */

.news {
}

.news .news__title {
    padding: 30px 0;
}

.news .news__title h1 {
    color: #FF4F81;
    font-size: 3.333rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-bottom: 12px;
}

.news .news__title h3 {
    font-size: 1.4rem;
    color: #333333;
    letter-spacing: 4px;
    position: relative;
    font-weight: 700;
}

.news .news__title h3::before {
    content: '';
    height: 2px;
    width: 70px;
    position: absolute;
    bottom: -26px;
    left: 50%;
    background-color: #333333;
    transform: translateX(-50%);
}

.news .news__content {
    margin-top: 60px;
}

.news__content .item {
    margin-bottom: 60px;
}

.news__content .item img {
    width: 100%;
    border: solid #dedede;
}


.news__content .item a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #282828;
    font-weight: 600;
    transition: all 0.8s;
}

.news__content .item h4 {
    font-size: 1.3rem;
    margin: 12px 0;
    color: #FF4F81;
    font-weight: 600;
}

.news__content .item p {
    color: #999999;
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 2rem;
}

.news__content .item h2>a:hover {
    color: #FF4F81;
}

@media screen and (max-width: 640px) {
    .news__content .item h2 {
        margin-top: 12px;
    }
}

/* END NEWS */

/* FOOTER */

footer {
    background-color: #141415;
    padding: 40px 0;
}

.footer__content .row .item {
    text-align: left;
}

.footer__content .row .item h1 {
    color: #FF4F81;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer__content .row .item p {
    color: #8b8b96;
    font-size: 1.15rem;
    letter-spacing: 1px;
    line-height: 2.2rem;
}

.footer__content .row .item ul {
    list-style: none;
}

.footer__content .row .item li {
    margin-bottom: 12px;
}

.footer__content .row .item li>a {
    text-decoration: none;
    color: #8b8b96;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all 1s;
}

.footer__content .row .item li>i {
    color: #FF4F81;
    margin-right: 16px;
}

.footer__content .row .item .fa-map-marker-alt {
    color: #fff;
    padding: 10px;
    border: 1px solid #8b8b96;
}

.footer__content .row .item .fa-envelope {
    color: #fff;
    padding: 10px;
    border: 1px solid #8b8b96;
}

.footer__content .row .item .fa-phone {
    color: #fff;
    padding: 10px;
    border: 1px solid #8b8b96;
}

.footer__content .row .item span {
    font-size: 1.2rem;
    display: inline-block;
    text-align: center;
    color: #8b8b96;
    margin-bottom: 0;   
}

.footer__content .row .item span.active {
    margin-left: 50px;
}

.footer__content .row .item li:hover a {
    color: #fff;
}

.footer__content input[type="email"] {
    outline: none;
    padding: 14px;
    background: #fff;
    font-size: 0.9em;
    color: #888;
    width: 70%;
    margin-right: 1em;
    border: none;
    letter-spacing: 2px;
}

input[type="submit"] {
    outline: none;
    padding: 12px 0;
    background: #ff4f81;
    font-size: 1em;
    color: #fff;
    width: 20%;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
}

input[type="submit"]:hover {
    background-color: #ec1955;
}

.subscribe h1 {
    font-size: 2rem;
    color: #FF4F81;
    font-weight: 800;
    letter-spacing: 1px;
}

@media screen and (max-width: 991px){
    .subscribe h1 {
        font-size: 1.7rem;
        margin-bottom: 20px;
    }
    
}

/* END FOOTER */