.btn-caption {
    padding: $pd-0 + 5 $pd-2 - 2;
    border: none;
    background-color: $bg-yellow;
    @include styleText($fs-0 -  2,$text-default,0,$mg-0,$fw-3);
    text-transform: uppercase;
    border-radius: $bd-radius-0 - 2;
    cursor: pointer;
    transition: $tran-2;
    i {
        padding-left: $pd-0;
        @include styleText($fs-0 - 1,$text-default,0,$mg-0,$fw-3);
        transition: $tran-2;
    }
}

.scrollTop {
    position: fixed;
    bottom: 15%;
    right: 3%;
    padding: $pd-2 - 3;
    border: none;
    transition: all .6s;
    border-radius: $bd-radius-0 - 2;
    opacity: 0;
    i {
        color: $text-gray;
        font-size: $fs-0;
        opacity: 0.6;
        transition: all .6s;
    }
    &:hover {
        background-color: rgba($text-gray,0.2);
    }
}