.banner {
    padding: $pd-2;
    .slick-dots {
        top: 80%;
        left: 5%;
        text-align: left;
        display: flex;
        align-items: center;
        bottom: 0;
        width: 0;
        li {
            margin: $mg-1 $mg-1 0 0;
            button {
                &::before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    line-height: 30px;
                    border: 1px solid $bg-blue;
                    transition: $tran-1;
                }
                &:focus::before{
                    background-color: $bg-default;
                }
                &:hover::before {
                    background-color: $bg-blue;
                }
            }
        }
        .slick-active {
            button {
                &::before {
                    content: "";
                    width: 21px;
                    height: 7px;
                    border-radius: 20px;
                    line-height: 30px;
                    border: 1px solid rgba($text-blue-h,0.5);
                }
                &:hover::before {
                    background-color: $bg-default;
                }
            }
        }
    }
    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
}

.banner__left {
    .banner__list {
        .banner__item {
            position: relative;
            figure {
                margin-bottom: 0;
                img {
                    width: 100%;
                    object-fit: cover;
                    @include responsive('large'){
                        & {
                            height: 422px;
                        }
                    }
                }
            }
            .banner__caption {
                position: absolute;
                top: 60%;
                transform: translateY(-50%);
                left: 5%;
                .banner__btn {
                    padding: $pd-0 ($pd-2 + 5);
                    font-size: $fs-0 - 1;
                    transition: $tran-2;
                    .fa {
                        padding-left: $pd-2;
                        transition: $tran-2;
                    }
                    &:hover .fa {
                        color: $bg-default;
                    }
                    &:hover {
                        background-color: $bg-red;
                        color: $bg-default;
                    }
                }
                .banner__title {
                    @include styleText($fs-1 - 2,$text-red,0,0,$fw-2);
                    margin-bottom: $mg-0 - 5;
                    text-transform: uppercase;
                }
                .banner__productName {
                    @include styleText($fs-3 - 10,$bg-blue,0,0,$fw-4);
                    margin-bottom: $mg-0;
                    text-transform: uppercase;
                }
                .banner__sale {
                    position: relative;
                    @include styleText($fs-3,$text-red,0,0,$fw-5);
                    text-align: right;
                    &::before {
                        content: "Up To";
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-transform: uppercase;
                        @include styleText($fs-1,$bg-blue,0,0,$fw-2);
                    }
                }
                .custom {
                    text-align: left;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}

.banner__right {
    margin-bottom: -($mg-0 + 5);
    .banner__item {
        position: relative;
        height: calc(100% / 2 - 15px);
        margin-bottom: ($mg-0 + 5);
        figure {
            height: 100%;
            margin-bottom: 0;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .banner__caption {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 8%;
            z-index: $z-index-2;
            .banner__sale {
                @include styleText($fs-2 + 10,$bg-default,0,0,$fw-4);
            }
            .banner__title {
                @include styleText($fs-0 + 2,$bg-default,0,0,$fw-3);
                margin: ($mg-0 - 5) 0 $mg-0 0;
                text-transform: uppercase;
            }
            .custom {
                margin-bottom: 0;
                line-height: $lh-1;
            }
            .banner__btn {
                position: relative;
                border: none;
                padding: $pd-1 + 5 $pd-2 $pd-1 + 5 0;
                background-color: transparent;
                @include styleText($fs-0 - 1,$bg-yellow,0,0,$fw-3);
                transition: $tran-2;
                text-transform: uppercase;
                .fa {
                    padding-left: $pd-2;
                }
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 85%;
                    height: 2px;
                    background-color: $bg-yellow;
                    transition: $tran-2;
                }
                &:hover {
                    color: $bg-default;
                }
                &:hover::before {
                    background-color: $bg-default;
                }
            }
        }
        .banner__overlay {
            position: absolute;
            inset: 0px;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                inset: 0px;
                background-color: rgba($text-gray,0.1);
                transition: $tran-3;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                inset: 0px;
                background-color: rgba($text-gray,0.1);
                transition: $tran-3;
            }
            &:hover::before {
                inset: 0 51% 0px 50%;
            }
            &:hover::after {
                inset: 50% 0px;
            }
        }
    }
    @include responsive('large'){
        margin-top: $mg-1;
        justify-content: space-between;
        .banner__item {
            width: calc(100% / 2 - 10px);
            height: 100%;
            margin-right: $mg-0;
            &:nth-of-type(2) {
                margin-right: 0;
            }
        }
    }
    @include responsive('medium'){
        & {
            justify-content: center;
            height: 30%;
            .banner__item {
                width: 100%;
                margin-right: 0;
                figure {
                    img {
                        height: 201px;
                    }
                }
            }
        }
    }
}

.banner__bot {
    background-color: $bg-default;
    .banner__box--item {
        display: flex;
        justify-content: flex-start;
        cursor: pointer;
        .banner__box--icon {
            height: 100%;
            margin-right: $mg-0;
            .fa {
                font-size: $fs-2;
            }
        }
        .banner__box--text {
            h4 {
                @include styleText($fs-0,$text-default,0,0,$fw-3);
                text-transform: uppercase;
                line-height: $lh-1;
            }
            p {
                margin-bottom: 0;
                @include styleText($fs-0 - 1,rgba($text-gray,0.5),0,0,$fw-1);
            }
            @media screen and (max-width:490px) {
                & {
                    h4 {
                        font-size: $fs-0 - 3;
                    }
                    p {
                        font-size: $fs-0 - 5;
                    }
                }
            }
        }
    }
    @media screen and(max-width:499px) {
        .banner__box--item {
            margin-right: $mg-0;
        }
    }
    .slick-list {
        // padding: 0 $pd-1 + 5 0 $pd-1;
        padding-left: $pd-1;
    }
}
