header{
    padding: 0 $pd-2;
    height: 100vh;
    background-color: $bg-blue;
    transition: $tran-2;
}


.header__top {
    display: flex;
    align-items: center;
    line-height: 3;
    border-bottom: 1px solid rgba($text-blue-h,0.3);
    .header__left {
        width: 30%;
        .header__info {
            text-decoration: none;
            @include styleText($fs-0 - 1,$text-blue-h,0,0,$fw-normal);
            transition: $tran-2;
            .fa {
                font-size: $fs-default;
            }
            &:hover {
                color: $bg-yellow;
            }
        }
        @include responsive('medium') {
            & { 
                width: 50%;
            }
        }
    }
    .header__right {
        width: 70%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .header__menu {
            list-style: none;
            width: 50%;
            margin-bottom: 0;
            .header__navItem {
                position: relative;
                display: inline-block;
                margin-left: $mg-2;
                .header__navlink {
                    text-decoration: none;
                    @include styleText($fs-0 - 1,$text-blue-h,0,0,$fw-normal);
                    transition: $tran-2;
                    .fa {
                        font-weight: normal;
                        padding-left: $pd-0;
                    }
                    &:hover {
                        color: $bg-yellow;
                    }
                }
                .header__submenu {
                    position: absolute;
                    width: 120%;
                    right: 0;
                    padding-left: 0;
                    background-color: $bg-default;
                    text-align: center;
                    list-style: none;
                    z-index: $z-index-2;
                    line-height: $lh-2;
                    padding: $pd-1 0;
                    opacity: 0;
                    visibility: hidden;
                    transition: $tran-2;
                    li {
                        margin-bottom: $mg-0;
                        a {
                            text-decoration: none;
                            @include styleText($fs-0 - 1,$text-blue-h,0,0,$fw-normal);
                            transition: $tran-2;
                            &:hover {
                                color: $bg-yellow;
                            }
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                &:hover .header__submenu {
                    opacity: 1;
                    visibility: visible;
                }
            }
            @include responsive('extra-large'){
                & {
                    width: 60%;
                }
            }
        }
        .large {
            width: 100%;
            .header__navItem {
                .header__submenu {
                    min-width: 140px;
                    text-align: left;
                    padding: $pd-0;
                    li {
                        position: relative;
                        .header__parentMenu {
                            list-style: none;
                            position: absolute;
                            left: -95%;
                            top: 0;
                            background-color: $bg-default;
                            width: 120px;
                            padding: $pd-1;
                            z-index: $z-index-2;
                            opacity: 0;
                            visibility: hidden;
                            transition: $tran-2;
                        }
                        &:hover .header__parentMenu {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:500px) {
        .header__left {
            width: 55%;
        }
        .header__right {
            width: 45%;
        }
    }
}
// header__center
header {
    .header__center {
        min-height: 90px;
        .header__logo {
            display: flex;
            align-items: center;
            .header__logo--bar {
                margin-right: $mg-0 + 5;
                button {
                    border: none;
                    background: transparent;
                    .fa {
                        @include styleText($fs-2,$bg-default,0,0,$fw-normal);
                    }
                }
            }
        }
        .header__form {
            .input-group {
                .header_select {
                    flex: 3;
                    position: relative;
                    .form-select {
                        padding: ($pd-1 + 3) $pd-1 ($pd-1 + 3) $pd-2;
                        border: none;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        appearance: none;
                        @include styleText($fs-0,$text-gray,0,0,$fw-normal);
                        &:focus {
                            box-shadow: none;
                        }
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        height: 24px;
                        width: 2px;
                        background-color: rgba($text-gray, 0.2);
                    }
                }
                .form-control {
                    flex: 6;
                    border: none;
                    padding-left: $pd-2;
                    @include styleText($fs-0,$text-gray,0,0,$fw-normal);
                    &:focus {
                        box-shadow: none;
                    }
                }
                .btn {
                    flex: 0;
                    border: none;
                    background-color: $bg-default;
                    &:focus {
                        box-shadow: none;
                    }
                }
                @include responsive('extra-large') {
                    .header_select {
                        flex:4;
                    }
                }
            }
        }
        .header__icon {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header__icon--item {
                position: relative;
                text-align: center;
                margin-right: $mg-2;
                cursor: pointer;
                .fa {
                    @include styleText($fs-1,$bg-default,0,0,$fw-normal);
                    padding-bottom: $pd-0;
                    transition: $tran-2;
                }
                .header__icon--title {
                    margin-bottom: 0;
                    @include styleText($fs-default,$text-blue-h,0,0,$fw-normal);
                    transition: $tran-2;
                }
                &:nth-of-type(3) {
                    margin-right: 0;
                }
                &:hover .header__icon--title {
                    color: $bg-yellow;
                }
                &:hover .fa {
                    color: $bg-yellow;
                }
                .header__count--wishlist {
                    position: absolute;
                    top: -15%;
                    right: 10%;
                    background-color: $bg-red;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        @include styleText($fs-default - 2,$bg-default,0,0,$fw-normal);
                    }
                }
                .header__count--cart {
                    position: absolute;
                    top: -15%;
                    right: -15%;
                    background-color: $bg-red;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                        @include styleText($fs-default - 2,$bg-default,0,0,$fw-normal);
                    }
                }
                @include responsive('large') {
                    margin-right: $mg-1;
                }
                @media screen and (max-width:499px) {
                    margin-right: $mg-0;
                }
            }
            @media screen and (max-width:499px) {
                .account {
                    display: none;
                }
            }
        }
    }
}

// header__bot left
.header__bot {
    padding: $pd-0 0;
    .header__left {
        display: flex;
        justify-content: flex-start;
        .header__categories {
            width: 75%;
            display: flex;
            align-items: center;
            background-color: $bg-yellow;
            padding: ($pd-1 + 5) $pd-2;
            border-top-left-radius: $bd-radius-0 - 2;
            border-top-right-radius: $bd-radius-0 - 2;
            cursor: pointer;
            position: relative;
            .header__categories--text {
                width: 90%;
                flex-shrink: 0;
                p {
                    margin-bottom: 0;
                    @include styleText($fs-0,$text-default,0,0,$fw-3);
                    text-transform: uppercase;
                }
            }
            .header__categories--icon {
                flex: 1;
                .fa {
                    @include styleText($fs-0,rgba($text-default,0.8),0,0,$fw-normal);
                }
                .header__categories--close {
                    display: none;
                }
            }
            &:hover {
                .header__categories--close {
                    display: block;
                }
                .header__categories--bar {
                    display: none;
                }
                .header__menu {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @include responsive('extra-large') {
            .header__categories {
                width: 100%;
                .header__categories--text {
                    p {
                        @include styleText($fs-0 - 1,$text-default,0,0,$fw-3);
                    }
                }
            }
        }
        @media screen and (min-width:1201px) and (max-width:1300px) {
            .header__categories {
                width: 85%;
            }
        }
    }
    @include responsive('large') {
        & {
            display: none;
        }
    }
}

// header__bot left
.header__categories {
    .header__menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $bg-default;
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
        box-shadow: 0px 0px 2px 0px #CECECE;
        z-index: $z-index-3;
        opacity: 0;
        visibility: hidden;
        transition: $tran-2;
        .header__navItem {
            padding: ($pd-1 + 3) ($pd-1 + 5);
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid rgba($text-gray,0.1);
            .fa {
                width: 15%;
                flex-shrink: 0;
                @include styleText($fs-0 - 1,rgba($text-gray,0.6),0,0,$fw-normal);
            }
            .header__navlink {
                flex: 1;
                text-decoration: none;
                transition: $tran-2;
                @include styleText($fs-0 - 2,rgba($text-default,0.6),0,0,$fw-2);
                .fa-angle-right {
                    float: right;
                    padding-left: $pd-1;
                    color: rgba($text-default,0.5);
                    transition: $tran-2;
                }
            }
            &:hover .fa-angle-right {
                color: $bg-yellow;
            }
            &:hover .header__navlink {
                color: $bg-yellow;
            }
            .header__submenu {
                position: absolute;
                top: 0;
                left: 100%;
                list-style: none;
                width: 894px;
                background-color: $bg-default;
                box-shadow: 0px 0px 2px 0px #CECECE;
                padding-left: 0;
                display: flex;
                z-index: $z-index-4;
                opacity: 0;
                visibility: hidden;
                transition: $tran-2;
                .header__submenu--item {
                    width: calc(100% / 3);
                    position: relative;
                    .header__parentMenu {
                        list-style: none;
                        padding: 0 $pd-2;
                        .header__parentMenu--item {
                            .header__menu--title {
                                padding: ($pd-1 + 3) 0;
                                display: block;
                                text-decoration: none;
                                border-bottom: 1px solid rgba($text-gray, 0.2);
                                @include styleText($fs-0,$text-default,0,0,$fw-4);
                            }
                            .header__childMenu {
                                list-style: none;
                                padding-left: 0;
                                li {
                                    padding: $pd-1 0;
                                    a {
                                        text-decoration: none;
                                        @include styleText($fs-0 - 2,$text-gray,0,0,$fw-normal);
                                        transition: $tran-2;
                                    }
                                    &:hover a {
                                        color: $bg-yellow;
                                    }
                                }
                            }
                        }
                    }
                    figure {
                        margin-bottom: 0;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .header__banner {
                        position: absolute;
                        top: 5%;
                        left: 10%;
                        width: 70%;
                        p {
                            @include styleText($fs-0,$text-gray,0,0,$fw-normal);
                        }
                        h2 {
                            @include styleText($fs-2,$text-default,0,$mg-0,$fw-4);
                            letter-spacing: 0.5px;
                            line-height: $lh-1;
                        }
                        h4 {
                            @include styleText($fs-2,$text-green,0,$mg-0,$fw-5);
                        }
                        .btn-caption {
                            &:hover {
                                color: $bg-default;
                                background-color: $text-red;
                            }
                            &:hover .fa {
                                color: $bg-default;
                            }
                        }
                    }
                    .right {
                        top: 20%;
                        left: 20%;
                        text-align: right;
                        p, h2 {
                            color: $bg-default;
                        }
                    }
                }
                @include responsive('extra-large')
                {
                    & {
                        width: 794px;
                    }
                }
            }
            &:hover .header__submenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

// header__bot center
.header__bot {
    .header__center {
        min-height: 0;
        .header__menu {
            list-style: none;
            padding: $pd-1 0;
            margin-bottom: 0;
            display: flex;
            .header_navItem {
                position: relative;
                width: calc(90% / 5);
                text-align: center;
                .header__navlink {
                    text-decoration: none;
                    @include styleText($fs-0,$bg-default,0,0,$fw-2);
                    .fa-angle-down {
                        padding-left: $pd-0;
                        @include styleText($fs-default,$bg-default,0,0,$fw-normal);
                    }
                    @include responsive('extra-large') {
                        .fa-angle-down {
                            display: none;
                        }
                    }
                    @media screen and (min-width: 1201px) and (max-width: 1300px) {
                        .short-navlink {
                            right: -20%;
                        }
                    }
                    @media screen and (min-width: 993px) and (max-width: 1199px) {
                        .short-navlink {
                            right: -30%;
                        }
                    }
                }
                .header__submenu {
                    position: absolute;
                    top: 200%;
                    left: 0;
                    list-style: none;
                    width: 684px;
                    background-color: $bg-default;
                    box-shadow: 0px 0px 2px 0px #CECECE;
                    display: flex;
                    z-index: $z-index-5;
                    padding-left: 0;
                    align-items: center;
                    opacity: 0;
                    visibility: hidden;
                    transition: $tran-2;
                    .header__submenu--item {
                        width: calc(100% / 3);
                        .header__parentMenu {
                            padding-left: 0;
                            padding-bottom: $pd-2;
                            list-style: none;
                            .header__childMenu {
                                padding: 0 $pd-2;
                                text-align: left;
                                list-style: none;
                                .header__childMenu--title {
                                    display: block;
                                    padding: $pd-2 0 $pd-1 0;
                                    text-decoration: none;
                                    @include styleText($fs-0,rgba($text-default,0.6),0,0,$fw-2);
                                    text-transform: uppercase;
                                }
                                .header__childMenu--item {
                                    padding: $pd-0 0;
                                    .header__childMenu--navlink {
                                        position: relative;
                                        text-decoration: none;
                                        transition: $tran-2;
                                        @include styleText($fs-default + 1,rgba($text-gray,0.6),0,0,$fw-normal);
                                        &:hover {
                                            color: $bg-yellow;
                                        }
                                        
                                    }
                                }
                            }
                        }
                        figure {
                            height: 100%;
                            width: 100%;
                            margin-bottom: 0;
                            
                        }
                    }
                }
                .short-menu {
                    display: block;
                    max-width: 218px;
                    text-align: left;
                    padding: $pd-1 $pd-2;
                    .header__submenu--item {
                        width: 100%;
                        padding: $pd-1 0;
                        cursor: pointer;
                        .header__submenu--navlink {
                            text-decoration: none;
                            transition: $tran-2;
                            @include styleText($fs-default + 2,rgba($text-gray,0.6),0,0,$fw-normal);
                        }
                        &:hover .header__submenu--navlink {
                            color: $bg-yellow;
                        }
                    }
                }
                &:hover .header__submenu{
                    opacity: 1;
                    visibility: visible;
                }
                &::after {
                    content: "";
                    position: absolute;
                    bottom: -100%;
                    left: 15%;
                    width: 0;
                    height: 2px;
                    background-color: $bg-yellow;
                    opacity: 0;
                    transition: $tran-2;
                }
                &:hover::after {
                    opacity: 1;
                    width: 80%;
                }
                
            }
            .active {
                position: relative;
                width: 10%;
                .header__navlink {
                    position: relative;
                    text-decoration: none;
                    @include styleText($fs-0,$bg-default,0,0,$fw-2);
                    .fa-angle-down {
                        padding-left: $pd-0;
                        @include styleText($fs-default,$bg-default,0,0,$fw-normal);
                    }
                    @include responsive('extra-large') {
                        .fa-angle-down {
                            display: none;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        bottom: -75%;
                        left: -10%;
                        width: 120%;
                        height: 2px;
                        background-color: $bg-yellow;
                    }
                }
                .header__pages {
                    position: absolute;
                    top: 200%;
                    left: -10%;
                    min-width: 894px;
                    background-color: $bg-default;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: $pd-2 0;
                    z-index: $z-index-5;
                    opacity: 0;
                    visibility: hidden;
                    transition: $tran-2;
                    .header__page--item {
                        width: 20%;
                        padding: 0 $pd-1;
                        cursor: pointer;
                        margin-bottom: $mg-1;
                        figure {
                            max-height: 140px;
                            overflow: hidden;
                            border: 1px solid rgba($text-gray,0.2);
                            img {
                                width: 100%;
                                transform: translateY(0);
                                transition: all 1.5s;
                            }
                            &:hover img {
                                transform: translateY(-260px);
                            }
                        }
                        figcaption {
                            text-align: center;
                            a {
                                text-decoration: none;
                                @include styleText($fs-default + 1,$text-gray,0,0,$fw-normal);
                            }
                        }
                    }
                    .header__page--btn {
                        padding: $pd-1 $pd-2;
                        border: 1px solid $bg-yellow;
                        background-color: $bg-default;
                        transition: $tran-2;
                        @include styleText($fs-0,$bg-yellow,0,0,$fw-1);
                        text-transform: uppercase;
                        .fa-long-arrow-alt-right {
                            padding-left: $pd-1;
                            @include styleText($fs-default,$bg-yellow,0,0,$fw-1);
                            transition: $tran-2;
                        }
                        &:hover {
                            background-color: $bg-yellow;
                            color: $bg-default;
                        }
                        &:hover .fa-long-arrow-alt-right {
                            color: $bg-default;
                        }
                    }
                    @include responsive('extra-large') {
                        & {
                            min-width: 694px;
                        }
                    }
                }
                &:hover .header__pages {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        
    }
}

// header__bot right
.header__bot {
    .header__right {
        position: relative;
        text-align: right;
        .fa-medapps {
            padding-right: $pd-3;
            @include styleText($fs-0 - 1,$bg-default,0,0,$fw-3);
            @include responsive('extra-large') {
                & {
                    padding-right: $pd-1;
                }
            }
        }
        span {
            @include styleText($fs-0 - 1,$bg-default,0,0,$fw-3);
            .header__right--sale {
                color: $bg-yellow;
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 10%;
            height: 18px;
            width: 1px;
            background-color: rgba($bg-default, 0.5);
            @include responsive('extra-large') {
                & {
                    left: 20%;
                }
            }
            @media screen and (max-width:1101px) {
                & {
                    left: 10%;
                }
            }
        }
    }
}
