.menu-mobile {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transition: $tran-2;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-250px);
    .menu-main {
        width: 263px;
        height: 100vh;
        background-color: $bg-default;
    }
    .menu-overlay {
        width: calc(100% - 263px);
        height: 100vh;
        background-color: rgba($text-default,0.2);
    }
}
.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.menu-main {
    .menu-header {
        padding: $pd-2;
        margin-bottom: $mg-1;
        .menu-content {
            .menu-close {
                padding: $pd-2 0;
                text-align: right;
                a {
                    i {
                        font-weight: normal;
                        color: $text-gray;
                        transition: $tran-2;
                    }
                    &:hover i {
                        color: $bg-yellow;
                    }
                }
            }
            .input-group {
                .menu-btn {
                    background-color: $bg-yellow;
                    border: 1px solid $bg-yellow;
                    border-radius: 0;
                    transition: $tran-2;
                    i {
                        @include styleText($fs-default,$bg-default,0,0,$fw-normal);
                    }
                    &:hover {
                        background-color: $bg-red;
                    }
                }
                .form-control {
                    font-size: $fs-default + 1;
                    border-radius: 0;
                    &:focus {
                        box-shadow: none;
                        border-color: $bg-yellow;
                        color: $text-gray;
                    }
                }
            }
        }
    }
    .menu-footer {
        .menu-icon {
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon-item {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid rgba($text-gray,0.2);
                margin-left: $mg-1;
                transition: $tran-2;
                &:nth-of-type(1) {
                    margin-left: 0;
                }
                i {
                    @include styleText($fs-default,rgba($text-gray,0.5),0,0,$fw-normal);
                    transition: $tran-2;
                }
                &:hover i {
                    color: $bg-yellow;
                }
                &:hover {
                    border-color: $bg-yellow;
                }
            }
        }
    }
    .menu-body {
        .nav-tabs {
            border: none;
            border-bottom: 1px solid rgba($text-gray,0.2);
            .nav-link {
                width: 50%;
                padding-right: 0;
                padding-left: 0;
                border: none;
                @include styleText($fs-0 - 1,$text-default,0,0,$fw-4);
                text-transform: uppercase;
            }
            .active {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $bg-yellow;
                    transition: $tran-2;
                }
            }
            .navs-active {
                &::before {
                    width: 100%;
                }
            }
            .nav-first {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

.tab-pane {
    .header__menu {
        list-style: none;
        padding: 0;
        max-height: 253px;
        overflow-y: auto;
        .header__navItem {
            cursor: pointer;
            padding: $pd-1 $pd-2 + 5;
            border-bottom: 1px solid rgba($text-gray,0.2);
            .header__navlink {
                position: relative;
                cursor: pointer;
                text-decoration: none;
                @include styleText($fs-default,rgba($text-default,0.7),0,0,$fw-normal);
                text-transform: uppercase;
                transition: $tran-2;
                .fa-angle-down {
                    float: right;
                    padding-top: $pd-0 - 3;
                    @include styleText($fs-0,rgba($text-default,0.5),0,0,$fw-normal);
                    transition: $tran-2;
                }
                .fa {
                    @include styleText($fs-0,rgba($text-default,0.5),0,0,$fw-normal);
                    padding-right: $pd-1;
                }
                .rotote {
                    transform: rotateX(180deg);
                }
                .hot {
                    right: -40%;
                }
                &:hover .fa-angle-down {
                    color: $bg-yellow;
                }
                &:hover {
                    color: $bg-yellow;
                }
            }
            
            .header__submenu {
                list-style: none;
                padding: $pd-0 $pd-1;
                display: none;
                li {
                    padding: $pd-0 0;
                    a {
                        position: relative;
                        text-decoration: none;
                        transition: $tran-2;
                        @include styleText($fs-default + 1,rgba($text-default,.8),0,0,$fw-normal);
                        &:hover {
                            color: $bg-yellow;
                        }
                        .hot, .new {
                            top: 50%;
                            right: -30%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .active {
                display: block;
            }
        }
    }
}
