@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #F7F8FA;
  line-height: 1;
  font-weight: normal;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn-caption {
  padding: 10px 18px;
  border: none;
  background-color: #FFCC02;
  font-size: 13px;
  color: #222222;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-caption i {
  padding-left: 5px;
  font-size: 14px;
  color: #222222;
  margin: 10px 0;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.sale {
  position: absolute;
  top: -20%;
  right: -25%;
  width: 26px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sale span {
  font-size: 8px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
  text-transform: uppercase;
}

.new {
  background-color: #61AB00;
}

.hot {
  background-color: #D33E3E;
}

.short {
  right: -40%;
}

.short-navlink {
  right: -10%;
}

header {
  padding: 0 20px;
  background-color: #2f4787;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3;
  border-bottom: 1px solid rgba(116, 144, 218, 0.3);
}

.header__top .header__left {
  width: 30%;
}

.header__top .header__left .header__info {
  text-decoration: none;
  font-size: 14px;
  color: #7490da;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__left .header__info .fa {
  font-size: 12px;
}

.header__top .header__left .header__info:hover {
  color: #FFCC02;
}

@media screen and (max-width: 768px) {
  .header__top .header__left {
    width: 50%;
  }
}

.header__top .header__right {
  width: 70%;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top .header__right .header__menu {
  list-style: none;
  width: 50%;
  margin-bottom: 0;
}

.header__top .header__right .header__menu .header__navItem {
  position: relative;
  display: inline-block;
  margin-left: 40px;
}

.header__top .header__right .header__menu .header__navItem .header__navlink {
  text-decoration: none;
  font-size: 14px;
  color: #7490da;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__right .header__menu .header__navItem .header__navlink .fa {
  font-weight: normal;
  padding-left: 5px;
}

.header__top .header__right .header__menu .header__navItem .header__navlink:hover {
  color: #FFCC02;
}

.header__top .header__right .header__menu .header__navItem .header__submenu {
  position: absolute;
  width: 120%;
  right: 0;
  padding-left: 0;
  background-color: #fff;
  text-align: center;
  list-style: none;
  z-index: 5;
  line-height: 1.6;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__right .header__menu .header__navItem .header__submenu li {
  margin-bottom: 10px;
}

.header__top .header__right .header__menu .header__navItem .header__submenu li a {
  text-decoration: none;
  font-size: 14px;
  color: #7490da;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__right .header__menu .header__navItem .header__submenu li a:hover {
  color: #FFCC02;
}

.header__top .header__right .header__menu .header__navItem .header__submenu li:last-child {
  margin-bottom: 0;
}

.header__top .header__right .header__menu .header__navItem:hover .header__submenu {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .header__top .header__right .header__menu {
    width: 60%;
  }
}

.header__top .header__right .large {
  width: 100%;
}

.header__top .header__right .large .header__navItem .header__submenu {
  min-width: 140px;
  text-align: left;
  padding: 5px;
}

.header__top .header__right .large .header__navItem .header__submenu li {
  position: relative;
}

.header__top .header__right .large .header__navItem .header__submenu li .header__parentMenu {
  list-style: none;
  position: absolute;
  left: -95%;
  top: 0;
  background-color: #fff;
  width: 120px;
  padding: 10px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__right .large .header__navItem .header__submenu li:hover .header__parentMenu {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .header__top .header__left {
    width: 55%;
  }
  .header__top .header__right {
    width: 45%;
  }
}

header .header__center {
  min-height: 90px;
}

header .header__center .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__center .header__logo .header__logo--bar {
  margin-right: 15px;
}

header .header__center .header__logo .header__logo--bar button {
  border: none;
  background: transparent;
}

header .header__center .header__logo .header__logo--bar button .fa {
  font-size: 25px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
}

header .header__center .header__form .input-group .header_select {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  position: relative;
}

header .header__center .header__form .input-group .header_select .form-select {
  padding: 13px 10px 13px 20px;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 15px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
}

header .header__center .header__form .input-group .header_select .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header__center .header__form .input-group .header_select::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  height: 24px;
  width: 2px;
  background-color: rgba(102, 102, 102, 0.2);
}

header .header__center .header__form .input-group .form-control {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  border: none;
  padding-left: 20px;
  font-size: 15px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
}

header .header__center .header__form .input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header__center .header__form .input-group .btn {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  border: none;
  background-color: #fff;
}

header .header__center .header__form .input-group .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (max-width: 1200px) {
  header .header__center .header__form .input-group .header_select {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

header .header__center .header__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__center .header__icon .header__icon--item {
  position: relative;
  text-align: center;
  margin-right: 40px;
  cursor: pointer;
}

header .header__center .header__icon .header__icon--item .fa {
  font-size: 20px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
  padding-bottom: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header .header__center .header__icon .header__icon--item .header__icon--title {
  margin-bottom: 0;
  font-size: 12px;
  color: #7490da;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

header .header__center .header__icon .header__icon--item:nth-of-type(3) {
  margin-right: 0;
}

header .header__center .header__icon .header__icon--item:hover .header__icon--title {
  color: #FFCC02;
}

header .header__center .header__icon .header__icon--item:hover .fa {
  color: #FFCC02;
}

header .header__center .header__icon .header__icon--item .header__count--wishlist {
  position: absolute;
  top: -15%;
  right: 10%;
  background-color: #D33E3E;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__center .header__icon .header__icon--item .header__count--wishlist span {
  font-size: 10px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
}

header .header__center .header__icon .header__icon--item .header__count--cart {
  position: absolute;
  top: -15%;
  right: -15%;
  background-color: #D33E3E;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__center .header__icon .header__icon--item .header__count--cart span {
  font-size: 10px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
}

@media screen and (max-width: 992px) {
  header .header__center .header__icon .header__icon--item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 499px) {
  header .header__center .header__icon .header__icon--item {
    margin-right: 15px;
  }
}

@media screen and (max-width: 499px) {
  header .header__center .header__icon .account {
    display: none;
  }
}

.header__bot {
  padding: 0 0;
}

.header__bot .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header__bot .header__left .header__categories {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFCC02;
  padding: 15px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  position: relative;
}

.header__bot .header__left .header__categories .header__categories--text {
  width: 90%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__bot .header__left .header__categories .header__categories--text p {
  margin-bottom: 0;
  font-size: 15px;
  color: #222222;
  margin: 0 0;
  font-weight: 600;
  text-transform: uppercase;
}

.header__bot .header__left .header__categories .header__categories--icon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__bot .header__left .header__categories .header__categories--icon .fa {
  font-size: 15px;
  color: rgba(34, 34, 34, 0.8);
  margin: 0 0;
  font-weight: normal;
}

.header__bot .header__left .header__categories .header__categories--icon .header__categories--close {
  display: none;
}

.header__bot .header__left .header__categories:hover .header__categories--close {
  display: block;
}

.header__bot .header__left .header__categories:hover .header__categories--bar {
  display: none;
}

.header__bot .header__left .header__categories:hover .header__menu {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1200px) {
  .header__bot .header__left .header__categories {
    width: 100%;
  }
  .header__bot .header__left .header__categories .header__categories--text p {
    font-size: 14px;
    color: #222222;
    margin: 0 0;
    font-weight: 600;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .header__bot .header__left .header__categories {
    width: 85%;
  }
}

@media screen and (max-width: 992px) {
  .header__bot {
    display: none;
  }
}

.header__categories .header__menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
  -webkit-box-shadow: 0px 0px 2px 0px #CECECE;
          box-shadow: 0px 0px 2px 0px #CECECE;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__categories .header__menu .header__navItem {
  padding: 13px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.1);
}

.header__categories .header__menu .header__navItem .fa {
  width: 15%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.6);
  margin: 0 0;
  font-weight: normal;
}

.header__categories .header__menu .header__navItem .header__navlink {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.6);
  margin: 0 0;
  font-weight: 500;
}

.header__categories .header__menu .header__navItem .header__navlink .fa-angle-right {
  float: right;
  padding-left: 10px;
  color: rgba(34, 34, 34, 0.5);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__categories .header__menu .header__navItem:hover .fa-angle-right {
  color: #FFCC02;
}

.header__categories .header__menu .header__navItem:hover .header__navlink {
  color: #FFCC02;
}

.header__categories .header__menu .header__navItem .header__submenu {
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  width: 894px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px #CECECE;
          box-shadow: 0px 0px 2px 0px #CECECE;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item {
  width: calc(100% / 3);
  position: relative;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__parentMenu {
  list-style: none;
  padding: 0 20px;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__parentMenu .header__parentMenu--item .header__menu--title {
  padding: 13px 0;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
  font-size: 15px;
  color: #222222;
  margin: 0 0;
  font-weight: 700;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__parentMenu .header__parentMenu--item .header__childMenu {
  list-style: none;
  padding-left: 0;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__parentMenu .header__parentMenu--item .header__childMenu li {
  padding: 10px 0;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__parentMenu .header__parentMenu--item .header__childMenu li a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__parentMenu .header__parentMenu--item .header__childMenu li:hover a {
  color: #FFCC02;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item figure {
  margin-bottom: 0;
  height: 100%;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item figure img {
  width: 100%;
  height: 100%;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__banner {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 70%;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__banner p {
  font-size: 15px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__banner h2 {
  font-size: 25px;
  color: #222222;
  margin: 10px 0;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.4;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__banner h4 {
  font-size: 25px;
  color: #61AB00;
  margin: 10px 0;
  font-weight: 800;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__banner .btn-caption:hover {
  color: #fff;
  background-color: #CC0133;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .header__banner .btn-caption:hover .fa {
  color: #fff;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .right {
  top: 20%;
  left: 20%;
  text-align: right;
}

.header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .right p, .header__categories .header__menu .header__navItem .header__submenu .header__submenu--item .right h2 {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .header__categories .header__menu .header__navItem .header__submenu {
    width: 794px;
  }
}

.header__categories .header__menu .header__navItem:hover .header__submenu {
  opacity: 1;
  visibility: visible;
}

.header__bot .header__center {
  min-height: 0;
}

.header__bot .header__center .header__menu {
  list-style: none;
  padding: 10px 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__bot .header__center .header__menu .header_navItem {
  position: relative;
  width: calc(100% / 6);
  text-align: left;
}

.header__bot .header__center .header__menu .header_navItem .header__navlink {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  margin: 0 0;
  font-weight: 500;
}

.header__bot .header__center .header__menu .header_navItem .header__navlink .fa-angle-down {
  padding-left: 5px;
  font-size: 12px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .header__bot .header__center .header__menu .header_navItem .header__navlink .fa-angle-down {
    display: none;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .header__bot .header__center .header__menu .header_navItem .header__navlink .short-navlink {
    right: -20%;
  }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
  .header__bot .header__center .header__menu .header_navItem .header__navlink .short-navlink {
    right: -30%;
  }
}

.header__bot .header__center .header__menu .header_navItem .header__submenu {
  position: absolute;
  top: 200%;
  left: -30%;
  list-style: none;
  width: 684px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px #CECECE;
          box-shadow: 0px 0px 2px 0px #CECECE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  padding-left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item {
  width: calc(100% / 3);
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item .header__parentMenu {
  padding-left: 0;
  padding-bottom: 20px;
  list-style: none;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item .header__parentMenu .header__childMenu {
  padding: 0 20px;
  text-align: left;
  list-style: none;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item .header__parentMenu .header__childMenu .header__childMenu--title {
  display: block;
  padding: 20px 0 10px 0;
  text-decoration: none;
  font-size: 15px;
  color: rgba(34, 34, 34, 0.6);
  margin: 0 0;
  font-weight: 500;
  text-transform: uppercase;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item .header__parentMenu .header__childMenu .header__childMenu--item {
  padding: 5px 0;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item .header__parentMenu .header__childMenu .header__childMenu--item .header__childMenu--navlink {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 13px;
  color: rgba(102, 102, 102, 0.6);
  margin: 0 0;
  font-weight: normal;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item .header__parentMenu .header__childMenu .header__childMenu--item .header__childMenu--navlink:hover {
  color: #FFCC02;
}

.header__bot .header__center .header__menu .header_navItem .header__submenu .header__submenu--item figure {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
}

.header__bot .header__center .header__menu .header_navItem .active {
  left: -30%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 894px;
  padding: 20px 0;
  overflow-y: auto;
  max-height: 400px;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--item {
  width: 25%;
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 20px;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--item figure {
  max-height: 140px;
  overflow: hidden;
  border: 1px solid rgba(102, 102, 102, 0.2);
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--item figure img {
  width: 100%;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--item figure:hover img {
  -webkit-transform: translateY(-360px);
          transform: translateY(-360px);
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--item figcaption {
  text-align: center;
  padding: 5px 0;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--item figcaption a {
  text-decoration: none;
  font-size: 13px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--btn {
  width: 100%;
  text-align: center;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--btn button {
  padding: 10px 20px;
  border: 1px solid #FFCC02;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 15px;
  color: #FFCC02;
  margin: 0 0;
  font-weight: 400;
  text-transform: uppercase;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--btn button .fa-long-arrow-alt-right {
  padding-left: 10px;
  font-size: 12px;
  color: #FFCC02;
  margin: 0 0;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--btn button:hover {
  background-color: #FFCC02;
  color: #fff;
}

.header__bot .header__center .header__menu .header_navItem .active .header__submenu--btn button:hover .fa-long-arrow-alt-right {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .header__bot .header__center .header__menu .header_navItem .active {
    width: 794px;
  }
}

@media screen and (max-width: 1070px) {
  .header__bot .header__center .header__menu .header_navItem .active {
    width: 724px;
  }
}

.header__bot .header__center .header__menu .header_navItem .short-menu {
  display: block;
  max-width: 218px;
  text-align: left;
  padding: 10px 20px;
}

.header__bot .header__center .header__menu .header_navItem .short-menu .header__submenu--item {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.header__bot .header__center .header__menu .header_navItem .short-menu .header__submenu--item .header__submenu--navlink {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.6);
  margin: 0 0;
  font-weight: normal;
}

.header__bot .header__center .header__menu .header_navItem .short-menu .header__submenu--item:hover .header__submenu--navlink {
  color: #FFCC02;
}

.header__bot .header__center .header__menu .header_navItem:hover .header__submenu {
  opacity: 1;
  visibility: visible;
}

.header__bot .header__center .header__menu .header_navItem::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: -10%;
  width: 0;
  height: 3px;
  background-color: #FFCC02;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__center .header__menu .header_navItem:hover::after {
  opacity: 1;
  width: 80%;
}

.header__bot .header__right {
  position: relative;
  text-align: right;
}

.header__bot .header__right .fa-medapps {
  padding-right: 40px;
  font-size: 14px;
  color: #fff;
  margin: 0 0;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .header__bot .header__right .fa-medapps {
    padding-right: 10px;
  }
}

.header__bot .header__right span {
  font-size: 14px;
  color: #fff;
  margin: 0 0;
  font-weight: 600;
}

.header__bot .header__right span .header__right--sale {
  color: #FFCC02;
}

.header__bot .header__right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  height: 18px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1200px) {
  .header__bot .header__right::before {
    left: 20%;
  }
}

@media screen and (max-width: 1101px) {
  .header__bot .header__right::before {
    left: 10%;
  }
}

.menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}

.menu-mobile .menu-main {
  width: 263px;
  height: 100vh;
  background-color: #fff;
}

.menu-mobile .menu-overlay {
  width: calc(100% - 263px);
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.2);
}

.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-main .menu-header {
  padding: 20px;
  margin-bottom: 20px;
}

.menu-main .menu-header .menu-content .menu-close {
  padding: 20px 0;
  text-align: right;
}

.menu-main .menu-header .menu-content .menu-close a i {
  font-weight: normal;
  color: #666;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-main .menu-header .menu-content .menu-close a:hover i {
  color: #FFCC02;
}

.menu-main .menu-header .menu-content .input-group .menu-btn {
  background-color: #FFCC02;
  border: 1px solid #FFCC02;
  border-radius: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-main .menu-header .menu-content .input-group .menu-btn i {
  font-size: 12px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
}

.menu-main .menu-header .menu-content .input-group .menu-btn:hover {
  background-color: #D33E3E;
}

.menu-main .menu-header .menu-content .input-group .form-control {
  font-size: 13px;
  border-radius: 0;
}

.menu-main .menu-header .menu-content .input-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #FFCC02;
  color: #666;
}

.menu-main .menu-footer .menu-icon {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-main .menu-footer .menu-icon .icon-item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(102, 102, 102, 0.2);
  margin-left: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-main .menu-footer .menu-icon .icon-item:nth-of-type(1) {
  margin-left: 0;
}

.menu-main .menu-footer .menu-icon .icon-item i {
  font-size: 12px;
  color: rgba(102, 102, 102, 0.5);
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-main .menu-footer .menu-icon .icon-item:hover i {
  color: #FFCC02;
}

.menu-main .menu-footer .menu-icon .icon-item:hover {
  border-color: #FFCC02;
}

.menu-main .menu-body .nav-tabs {
  border: none;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.menu-main .menu-body .nav-tabs .nav-link {
  width: 50%;
  padding-right: 0;
  padding-left: 0;
  border: none;
  font-size: 14px;
  color: #222222;
  margin: 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-main .menu-body .nav-tabs .active {
  position: relative;
}

.menu-main .menu-body .nav-tabs .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FFCC02;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-main .menu-body .nav-tabs .navs-active::before {
  width: 100%;
}

.menu-main .menu-body .nav-tabs .nav-first::before {
  width: 100%;
}

.tab-pane .header__menu {
  list-style: none;
  padding: 0;
  max-height: 253px;
  overflow-y: auto;
}

.tab-pane .header__menu .header__navItem {
  cursor: pointer;
  padding: 10px 25px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.2);
}

.tab-pane .header__menu .header__navItem .header__navlink {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  color: rgba(34, 34, 34, 0.7);
  margin: 0 0;
  font-weight: normal;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tab-pane .header__menu .header__navItem .header__navlink .fa-angle-down {
  float: right;
  padding-top: 2px;
  font-size: 15px;
  color: rgba(34, 34, 34, 0.5);
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.tab-pane .header__menu .header__navItem .header__navlink .fa {
  color: rgba(34, 34, 34, 0.5);
  font-weight: normal;
  width: 25px;
  height: 10px;
}

.tab-pane .header__menu .header__navItem .header__navlink .rotote {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.tab-pane .header__menu .header__navItem .header__navlink .hot {
  right: -40%;
}

.tab-pane .header__menu .header__navItem .header__navlink:hover .fa-angle-down {
  color: #FFCC02;
}

.tab-pane .header__menu .header__navItem .header__navlink:hover {
  color: #FFCC02;
}

.tab-pane .header__menu .header__navItem .header__submenu {
  list-style: none;
  padding: 5px 10px;
  display: none;
}

.tab-pane .header__menu .header__navItem .header__submenu li {
  padding: 5px 0;
}

.tab-pane .header__menu .header__navItem .header__submenu li a {
  position: relative;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 13px;
  color: rgba(34, 34, 34, 0.8);
  margin: 0 0;
  font-weight: normal;
}

.tab-pane .header__menu .header__navItem .header__submenu li a:hover {
  color: #FFCC02;
}

.tab-pane .header__menu .header__navItem .header__submenu li a .hot, .tab-pane .header__menu .header__navItem .header__submenu li a .new {
  top: 50%;
  right: -30%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.tab-pane .header__menu .header__navItem .active {
  display: block;
}

.cart-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.cart-mobile .cart-main {
  width: 340px;
  height: 100vh;
  background-color: #fff;
  padding: 0 20px;
}

.cart-mobile .cart-main .cart-header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
}

.cart-mobile .cart-main .cart-header .cart-title {
  width: 70%;
  font-size: 18px;
  color: #222222;
  margin: 0 0;
  font-weight: 700;
}

.cart-mobile .cart-main .cart-header .cart-close {
  width: 30%;
  text-align: right;
}

.cart-mobile .cart-main .cart-header .cart-close a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 15px;
  color: #222222;
  margin: 0 0;
  font-weight: 400;
}

.cart-mobile .cart-main .cart-header .cart-close a i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-left: 5px;
  font-size: 13px;
  color: #222222;
  margin: 0 0;
  font-weight: normal;
}

.cart-mobile .cart-main .cart-header .cart-close:hover a {
  color: #FFCC02;
}

.cart-mobile .cart-main .cart-header .cart-close:hover i {
  color: #FFCC02;
}

.cart-mobile .cart-main .cart-body {
  padding: 20px 0;
}

.cart-mobile .cart-main .cart-body .cart-title {
  font-size: 15px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
}

@media screen and (max-width: 499px) {
  .cart-mobile .cart-main {
    width: 280px;
  }
}

.cart-mobile .cart-overlay {
  width: calc(100% - 340px);
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.2);
}

@media screen and (max-width: 499px) {
  .cart-mobile .cart-overlay {
    width: calc(100% - 280px);
  }
}

.cart-active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.list-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-product .product-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-bottom: 1px solid rgba(102, 102, 102, 0.1);
}

.list-product .product-item .product-text {
  width: 70%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.list-product .product-item .product-text .product-title {
  font-size: 12px;
  color: #222222;
  margin: 0 0;
  font-weight: normal;
  margin-bottom: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.list-product .product-item .product-text .product-title:hover {
  color: #FFCC02;
}

.list-product .product-item .product-text span {
  font-size: 12px;
  color: #666;
  margin: 10px 0;
  font-weight: normal;
}

.list-product .product-item .product-text .product-quantity {
  position: relative;
  padding-right: 10px;
}

.list-product .product-item .product-text .product-quantity::before {
  content: "x";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 499px) {
  .list-product .product-item .product-text {
    -webkit-line-clamp: 2;
    height: 60%;
  }
  .list-product .product-item .product-text .product-title {
    font-size: 10px;
    margin-bottom: 0;
  }
  .list-product .product-item .product-text span {
    font-size: 10px;
  }
}

.list-product .product-item .product-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list-product .product-item .product-image img {
  width: 90%;
}

.list-product .product-item .product-image a {
  width: 10%;
  text-decoration: none;
}

.list-product .product-item .product-image a .fa {
  font-size: 12px;
  color: #666;
  margin: 10px 0;
  font-weight: normal;
}

.banner {
  padding: 20px;
}

.banner .slick-dots {
  top: 80%;
  left: 5%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 0;
}

.banner .slick-dots li {
  margin: 20px 20px 0 0;
}

.banner .slick-dots li button::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 30px;
  border: 1px solid #2f4787;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.banner .slick-dots li button:focus::before {
  background-color: #fff;
}

.banner .slick-dots li button:hover::before {
  background-color: #2f4787;
}

.banner .slick-dots .slick-active button::before {
  content: "";
  width: 21px;
  height: 7px;
  border-radius: 20px;
  line-height: 30px;
  border: 1px solid rgba(116, 144, 218, 0.5);
}

.banner .slick-dots .slick-active button:hover::before {
  background-color: #fff;
}

.banner .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.banner__left .banner__list .banner__item {
  position: relative;
}

.banner__left .banner__list .banner__item figure {
  margin-bottom: 0;
}

.banner__left .banner__list .banner__item figure img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 992px) {
  .banner__left .banner__list .banner__item figure img {
    height: 422px;
  }
}

.banner__left .banner__list .banner__item .banner__caption {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
}

.banner__left .banner__list .banner__item .banner__caption .banner__btn {
  padding: 5px 25px;
  font-size: 14px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__left .banner__list .banner__item .banner__caption .banner__btn .fa {
  padding-left: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__left .banner__list .banner__item .banner__caption .banner__btn:hover .fa {
  color: #fff;
}

.banner__left .banner__list .banner__item .banner__caption .banner__btn:hover {
  background-color: #D33E3E;
  color: #fff;
}

.banner__left .banner__list .banner__item .banner__caption .banner__title {
  font-size: 18px;
  color: #CC0133;
  margin: 0 0;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.banner__left .banner__list .banner__item .banner__caption .banner__productName {
  font-size: 40px;
  color: #2f4787;
  margin: 0 0;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.banner__left .banner__list .banner__item .banner__caption .banner__sale {
  position: relative;
  font-size: 50px;
  color: #CC0133;
  margin: 0 0;
  font-weight: 800;
  text-align: right;
}

.banner__left .banner__list .banner__item .banner__caption .banner__sale::before {
  content: "Up To";
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #2f4787;
  margin: 0 0;
  font-weight: 500;
}

.banner__left .banner__list .banner__item .banner__caption .custom {
  text-align: left;
}

.banner__left .banner__list .banner__item .banner__caption .custom::before {
  display: none;
}

.banner__right {
  margin-bottom: -15px;
}

.banner__right .banner__item {
  position: relative;
  height: calc(100% / 2 - 15px);
  margin-bottom: 15px;
}

.banner__right .banner__item figure {
  height: 100%;
  margin-bottom: 0;
}

.banner__right .banner__item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__right .banner__item .banner__caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 8%;
  z-index: 5;
}

.banner__right .banner__item .banner__caption .banner__sale {
  font-size: 35px;
  color: #fff;
  margin: 0 0;
  font-weight: 700;
}

.banner__right .banner__item .banner__caption .banner__title {
  font-size: 17px;
  color: #fff;
  margin: 0 0;
  font-weight: 600;
  margin: 5px 0 10px 0;
  text-transform: uppercase;
}

.banner__right .banner__item .banner__caption .custom {
  margin-bottom: 0;
  line-height: 1.4;
}

.banner__right .banner__item .banner__caption .banner__btn {
  position: relative;
  border: none;
  padding: 15px 20px 15px 0;
  background-color: transparent;
  font-size: 14px;
  color: #FFCC02;
  margin: 0 0;
  font-weight: 600;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: uppercase;
}

.banner__right .banner__item .banner__caption .banner__btn .fa {
  padding-left: 20px;
}

.banner__right .banner__item .banner__caption .banner__btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
  height: 2px;
  background-color: #FFCC02;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.banner__right .banner__item .banner__caption .banner__btn:hover {
  color: #fff;
}

.banner__right .banner__item .banner__caption .banner__btn:hover::before {
  background-color: #fff;
}

.banner__right .banner__item .banner__overlay {
  position: absolute;
  inset: 0px;
}

.banner__right .banner__item .banner__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0px;
  background-color: rgba(102, 102, 102, 0.1);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.banner__right .banner__item .banner__overlay::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  inset: 0px;
  background-color: rgba(102, 102, 102, 0.1);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.banner__right .banner__item .banner__overlay:hover::before {
  inset: 0 51% 0px 50%;
}

.banner__right .banner__item .banner__overlay:hover::after {
  inset: 50% 0px;
}

@media screen and (max-width: 992px) {
  .banner__right {
    margin-top: 20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner__right .banner__item {
    width: calc(100% / 2 - 10px);
    height: 100%;
    margin-right: 10px;
  }
  .banner__right .banner__item:nth-of-type(2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .banner__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 30%;
  }
  .banner__right .banner__item {
    width: 100%;
    margin-right: 0;
  }
  .banner__right .banner__item figure img {
    height: 201px;
  }
}

.banner__bot {
  background-color: #fff;
}

.banner__bot .banner__box--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.banner__bot .banner__box--item .banner__box--icon {
  height: 100%;
  margin-right: 10px;
}

.banner__bot .banner__box--item .banner__box--icon .fa {
  font-size: 25px;
}

.banner__bot .banner__box--item .banner__box--text h4 {
  font-size: 15px;
  color: #222222;
  margin: 0 0;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.4;
}

.banner__bot .banner__box--item .banner__box--text p {
  margin-bottom: 0;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.5);
  margin: 0 0;
  font-weight: 400;
}

@media screen and (max-width: 490px) {
  .banner__bot .banner__box--item .banner__box--text h4 {
    font-size: 12px;
  }
  .banner__bot .banner__box--item .banner__box--text p {
    font-size: 10px;
  }
}

@media screen and (max-width: 499px) {
  .banner__bot .banner__box--item {
    margin-right: 10px;
  }
}

.banner__bot .slick-list {
  padding-left: 10px;
}
/*# sourceMappingURL=main.css.map */