@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  line-height: 1;
  font-weight: normal;
  overflow: hidden;
}

.container {
  padding: 0 20px;
  width: 96%;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-2 {
  width: calc(100% / 6 - 20px);
}

.col-3 {
  width: calc(100% / 4 - 20px);
}

.col-4 {
  width: calc(100% / 3 - 20px);
}

.col-6 {
  width: calc(100% / 2 - 20px);
}

.col-7 {
  width: calc(100% / 12 * 8 - 20px);
}

.col-8 {
  width: calc(100% / 12 * 8 - 20px);
}

.col-12 {
  width: calc(100% - 20px);
}

.col-2, .col-3, .col-4, .col-6, .col-7, .col-8, .col-12 {
  margin: 0 10px;
}

.btn-caption {
  padding: 7px 18px;
  border: none;
  background-color: #FFCC02;
  font-size: 13px;
  color: #222222;
  margin: 10px 0;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

.btn-caption i {
  padding-left: 5px;
  font-size: 14px;
  color: #222222;
  margin: 10px 0;
  font-weight: 600;
}

header {
  padding-bottom: 720px;
  background-color: #2f4787;
}

header .header__top {
  margin: 0 auto;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(116, 144, 218, 0.3);
}

header a {
  text-decoration: none;
  font-size: 14px;
  color: #7490da;
  margin: 0 0;
  font-weight: normal;
}

.header__top .header__top--left {
  width: 20%;
}

.header__top .header__top--right {
  width: 80%;
  text-align: right;
}

.header__top .header__top--right .header__top--submenu {
  list-style: none;
  margin-right: -40px;
}

.header__top .header__top--right .header__top--submenu .header__top--navItem {
  display: inline;
  margin-right: 40px;
}

.header__top .header__top--right .header__top--submenu .header__top--navItem .header__top--navLink .fa-angle-down {
  font-size: 12px;
}

.header__top .header__top--right .header__top--submenu .dropdown {
  position: relative;
  max-width: 75px;
}

.header__top .header__top--right .header__top--submenu .dropdown .header__top-submenu1 {
  position: absolute;
  right: 0;
  top: 33px;
  width: 100%;
  background-color: #fff;
  list-style: none;
  z-index: 3;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  visibility: hidden;
}

.header__top .header__top--right .header__top--submenu .dropdown .header__top-submenu1 li {
  margin: 10px 0;
}

.header__top .header__top--right .header__top--submenu .dropdown .header__top-submenu1 li a {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__top--right .header__top--submenu .dropdown .header__top-submenu1 li:hover a {
  color: #FFCC02;
}

.header__top .header__top--right .header__top--submenu .dropdown:hover .header__top-submenu1 {
  opacity: 1;
  visibility: visible;
}

.header__top .header__top--navLink {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__top .header__top--navLink .fa-phone {
  font-size: 12px;
}

.header__top .header__top--navLink:hover {
  color: #FFCC02;
}

.header__center {
  padding: 20px 0;
}

.header__center .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center .row .header__center--logo {
  margin-left: 0;
}

.header__center .row .header__center--form {
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__center .row .header__center--form .header__center--categories {
  width: 35%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__center .row .header__center--form .header__center--categories select {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 0 20px;
  font-size: 15px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
}

.header__center .row .header__center--form .header__center--categories select:focus {
  outline: 0;
}

.header__center .row .header__center--form .header__center--categories::after {
  content: "";
  position: absolute;
  right: -5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 24px;
  width: 1px;
  opacity: 0.3;
  background-color: #666;
}

.header__center .row .header__center--form .header__center--seach {
  width: 55%;
  border: none;
  padding-left: 30px;
  font-size: 15px;
}

.header__center .row .header__center--form .header__center--seach:focus {
  outline: 0;
  color: #666;
}

.header__center .row .header__center--form .header__center--btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 17px;
}

.header__center .row .header__center--form .header__center--btn:hover {
  color: #FFCC02;
}

.header__center .row .header__center--shopIcon {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -40px;
}

.header__center .row .header__center--shopIcon .header__center--icon {
  text-align: center;
  margin-right: 40px;
  cursor: pointer;
  position: relative;
}

.header__center .row .header__center--shopIcon .header__center--icon a i {
  font-size: 22px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__center .row .header__center--shopIcon .header__center--icon a span {
  font-size: 12px;
  color: #7490da;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__center .row .header__center--shopIcon .header__center--icon:hover i {
  color: #FFCC02;
}

.header__center .row .header__center--shopIcon .header__center--icon:hover .header__center--text {
  color: #FFCC02;
}

.header__center .row .header__center--shopIcon .header__center--icon .header__center--count {
  position: absolute;
  top: -10%;
  right: 10%;
  padding: 2px 3px;
  border-radius: 50%;
  background-color: #D33E3E;
  font-size: 11px;
  color: #fff;
  margin: 0 0;
  font-weight: normal;
}

.header__center .row .header__center--shopIcon .header__center--icon .cart {
  right: -20%;
}

.header__bot {
  padding: 0;
}

.header__bot .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bot .header__bot--left {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__bot .header__bot--left .header__bot--categories {
  width: 75%;
  padding: 15px 10px;
  border-radius: 4px 4px 0 0;
  background-color: #FFCC02;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--navItem {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  color: #222222;
  margin: 0 0;
  font-weight: 500;
  text-transform: uppercase;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--navItem i {
  opacity: 0.7;
  padding-left: 5px;
  width: 10%;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--navItem .fa-times {
  display: none;
}

.header__bot .header__bot--left .header__bot--categories:hover a .fa-bars {
  display: none;
}

.header__bot .header__bot--left .header__bot--categories:hover a .fa-times {
  display: block;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  list-style: none;
  z-index: 5;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px #666666;
          box-shadow: 0px 2px 5px #666666;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(102, 102, 102, 0.15);
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .left__Navlink {
  width: 80%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: left;
  padding-left: 15px;
  font-size: 14px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .fa {
  font-size: 15px;
  color: #666;
  margin: 0 0;
  font-weight: normal;
  opacity: 0.5;
  width: 10%;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 {
  position: absolute;
  top: 0;
  left: 100%;
  width: 890px;
  list-style: none;
  background-color: #fff;
  padding: 0 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 {
  padding: 0 0 0 20px;
  width: calc(100% / 3);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 {
  list-style: none;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 .header__bot--leftItem2 {
  margin-bottom: 10px;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 .header__bot--leftItem2 .left__Navlink1 {
  font-size: 14px;
  color: #222222;
  margin: 0 0;
  font-weight: 600;
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(102, 102, 102, 0.1);
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 .header__bot--leftItem2 .header__bot--leftmenu3 {
  list-style: none;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 .header__bot--leftItem2 .header__bot--leftmenu3 li {
  padding: 8px 0;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 .header__bot--leftItem2 .header__bot--leftmenu3 li a {
  font-size: 13px;
  color: rgba(102, 102, 102, 0.7);
  margin: 0 0;
  font-weight: normal;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftmenu2 .header__bot--leftItem2 .header__bot--leftmenu3 li:hover a {
  color: #FFCC02;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 figure {
  height: 100%;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 figure img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 50%;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption h4 {
  font-size: 13px;
  color: #666;
  margin: 10px 0;
  font-weight: normal;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption h3 {
  font-size: 18px;
  color: #222222;
  margin: 10px 0;
  font-weight: 800;
  line-height: 1.2;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption h2 {
  font-size: 20px;
  color: #61AB00;
  margin: 10px 0;
  font-weight: 800;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption .header__bot--leftButton {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption .header__bot--leftButton:hover {
  background-color: #D33E3E;
  color: #fff;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem .header__bot--leftmenu1 .header__bot--leftItem1 .header__bot--leftCaption .header__bot--leftButton:hover i {
  color: #fff;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem:hover .left__Navlink {
  color: #FFCC02;
}

.header__bot .header__bot--left .header__bot--categories .header__bot--leftmenu .header__bot--leftItem:hover .header__bot--leftmenu1 {
  opacity: 1;
  visibility: visible;
}

.header__bot .header__bot--left .header__bot--categories:hover .header__bot--leftmenu {
  visibility: visible;
  opacity: 1;
}

.header__bot .header__bot--center {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__bot .header__bot--center .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  padding: 10px 0;
}

.header__bot .header__bot--center .submenu .nav-item {
  position: relative;
  width: calc(90% / 5);
  text-align: center;
}

.header__bot .header__bot--center .submenu .nav-item .nav-link {
  position: relative;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  margin: 0 0;
  font-weight: 500;
  text-transform: uppercase;
}

.header__bot .header__bot--center .submenu .nav-item .nav-link i {
  font-weight: normal;
  font-size: 13px;
  padding-left: 5px;
}

.header__bot .header__bot--center .submenu .nav-item .nav-link::after {
  content: "";
  position: absolute;
  left: -10%;
  bottom: -90%;
  width: 0;
  background-color: #FFCC02;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 99;
}

.header__bot .header__bot--center .submenu .nav-item .nav-link:hover::after {
  width: 120%;
}

.header__bot .header__bot--center .submenu .nav-item .multi-page {
  position: absolute;
  top: 42px;
  left: -10%;
  width: 980px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  background-color: #fff;
  margin: -10px;
  -webkit-box-shadow: 0px 0px 5px #666666;
          box-shadow: 0px 0px 5px #666666;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header__bot .header__bot--center .submenu .nav-item .multi-page .page-item {
  width: calc(100% / 6 - 20px);
  margin: 10px;
  cursor: pointer;
}

.header__bot .header__bot--center .submenu .nav-item .multi-page .page-item figure {
  height: 140px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(102, 102, 102, 0.2);
}

.header__bot .header__bot--center .submenu .nav-item .multi-page .page-item figure img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(240px);
          transform: translateY(240px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

.header__bot .header__bot--center .submenu .nav-item .multi-page .page-item figure:hover img {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header__bot .header__bot--center .submenu .nav-item .multi-page .page-item .page-title {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  font-weight: normal;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--center .submenu .nav-item .multi-page .page-item:hover .page-title {
  color: #FFCC02;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu {
  position: absolute;
  top: 32px;
  left: 0;
  background-color: #fff;
  width: 540px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item {
  width: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu {
  width: 100%;
  text-align: left;
  padding: 0 20px 20px 20px;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu .dropdown-item {
  width: 100%;
  display: block;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu .dropdown-item .child-menu {
  list-style: none;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu .dropdown-item .child-menu .child-navitem {
  padding: 15px 0;
  display: block;
  font-size: 14px;
  color: #222222;
  margin: 0 0;
  font-weight: 400;
  text-transform: uppercase;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu .dropdown-item .child-menu li {
  padding: 5px 0;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu .dropdown-item .child-menu li .child-navlink {
  font-size: 13px;
  color: rgba(102, 102, 102, 0.5);
  margin: 0 0;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item .parent-menu .dropdown-item .child-menu li:hover .child-navlink {
  color: #FFCC02;
}

.header__bot .header__bot--center .submenu .nav-item .dropdown-menu .dropdown-item img {
  width: 100%;
}

.header__bot .header__bot--center .submenu .nav-item .menu-custom {
  width: 180px;
  padding: 10px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
}

.header__bot .header__bot--center .submenu .nav-item .menu-custom .dropdown-item {
  width: 100%;
  padding: 10px 0;
  display: block;
}

.header__bot .header__bot--center .submenu .nav-item .menu-custom .dropdown-item a {
  font-size: 14px;
  color: rgba(102, 102, 102, 0.5);
  margin: 0 0;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header__bot .header__bot--center .submenu .nav-item .menu-custom .dropdown-item:hover a {
  color: #FFCC02;
}

.header__bot .header__bot--center .submenu .nav-item:nth-of-type(2) {
  padding-left: 10px;
}

.header__bot .header__bot--center .submenu .nav-item:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.header__bot .header__bot--center .submenu .active {
  text-align: left;
  width: 10%;
}

.header__bot .header__bot--center .submenu .active .nav-link:hover::after {
  width: 0;
}

.header__bot .header__bot--center .submenu .active::before {
  content: "";
  position: absolute;
  left: -10%;
  bottom: -90%;
  width: 100%;
  background-color: #FFCC02;
  height: 2px;
}

.header__bot .header__bot--center .submenu .active:hover .multi-page {
  opacity: 1;
  visibility: visible;
}

.header__bot .header__bot--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0;
  color: #fff;
  position: relative;
}

.header__bot .header__bot--right i {
  margin-right: 20px;
}

.header__bot .header__bot--right p {
  font-size: 15px;
  font-weight: 600;
}

.header__bot .header__bot--right p span {
  color: #FFCC02;
}

.header__bot .header__bot--right::before {
  content: "";
  position: absolute;
  left: 10%;
  height: 18px;
  width: 1px;
  background-color: #fff;
  opacity: 0.5;
}
/*# sourceMappingURL=main.css.map */